<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans'>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title><%= @company %></title>
</head>
<body>
	<%= yield %>
</body>
</html>