<!DOCTYPE html>
<html>
<head>
	<style type='text/css'>
		#stock_info {float: left; width: 600px;}
		#twitter_search {float: right; width: 700px;} 
		h1, h2 {font: 70px Helvetica;}
		p {font: 50px Helvetica;}
		#twitter_search p {font-size: 15px;}
		#twitter_search h2 {font-size: 25px; font-weight: bold;}
	</style>
	<title><%= @stock.company %></title>
</head>
<body>
	<%= yield %>
</body>
</html>