<!DOCTYPE html>
<html>
<head>
	<title><%= @title %></title>
	<meta charset='utf-8'>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>HERE ARE YOUR FREAKING STOCK QUOTES, BOSS!</h1>
	<h2>I'm going on break!</h2>
	<%= yield %> 
</body>
</html>