<form action='/mbta/create' method='post'>

Starting Line
	<select name='start_location'>
		<option value="" disabled="disabled" selected="selected">Select a Starting Location</option>
 		<option value="1">Red Line - South Station</option>
	  <option value="2">Red Line - Park Street</option>
	  <option value="3">Red Line - Kendall</option>
	  <option value="4">Red Line - Central</option>
	  <option value="5">Red Line - Harvard</option>
	  <option value="6">Red Line - Porter</option>
	  <option value="7">Red Line - Davis</option>
	  <option value="8">Red Line - Alewife</option>
	  <option value="9">Green Line - Haymarket</option>
	  <option value="10">Green Line - Government Center</option>
	  <option value="11">Green Line - Park Street</option>
	  <option value="12">Green Line - Boylston</option>
 		<option value="13">Green Line - Arlington</option>
 		<option value="14">Green Line - Copley</option>
		<option value="15">Orange Line - North Station</option>
		<option value="16">Orange Line - Haymarket</option>
		<option value="17">Orange Line - Park Street</option>
		<option value="18">Orange Line - State</option>
		<option value="19">Orange Line - Downtown Crossing</option>
		<option value="20">Orange Line - Chinatown</option>
		<option value="21">Orange Line - Back Bay</option>
		<option value="22">Orange Line - Forest Hills</option>
	</select>

Ending Line
	<select name='end_location'>
		<option value="" disabled="disabled" selected="selected">Select an Ending Location</option>
 		<option value="1">Red Line - South Station</option>
	  <option value="2">Red Line - Park Street</option>
	  <option value="3">Red Line - Kendall</option>
	  <option value="4">Red Line - Central</option>
	  <option value="5">Red Line - Harvard</option>
	  <option value="6">Red Line - Porter</option>
	  <option value="7">Red Line - Davis</option>
	  <option value="8">Red Line - Alewife</option>
	  <option value="9">Green Line - Haymarket</option>
	  <option value="10">Green Line - Government Center</option>
	  <option value="11">Green Line - Park Street</option>
	  <option value="12">Green Line - Boylston</option>
 		<option value="13">Green Line - Arlington</option>
 		<option value="14">Green Line - Copley</option>
		<option value="15">Orange Line - North Station</option>
		<option value="16">Orange Line - Haymarket</option>
		<option value="17">Orange Line - Park Street</option>
		<option value="18">Orange Line - State</option>
		<option value="19">Orange Line - Downtown Crossing</option>
		<option value="20">Orange Line - Chinatown</option>
		<option value="21">Orange Line - Back Bay</option>
		<option value="22">Orange Line - Forest Hills</option>
	</select>

 <input type='submit' value = 'Calculate Distance'></submit>
</form>