body {background-color: rgb(191,255,134);
	  width: 840px;
	  text-align: center;}

h1	{color: rgb(166,40,178);}

h2	{color: rgb(166,40,178);}

li	{padding: 10px 0px 0px 10px;
	color: rgb(166,40,178);
	text-align: left;
	}
	
#heading_box {width: 800px;
			  background-color: rgb(177,255,109);
			  border: 10px rgb(114,178,58) solid;
			  padding: 10px;
			  margin-left: 10px;}

h1.heading {color: rgb(241,109,255);
			}

#twitter {float: left;
		  width: 400px;
		  text-align: center;
		  padding: 10px;}

#stocks {float: left;
		 width: 400px;
		 text-align: center;
		 padding: 10px;}

h1#alert {font-weight: bold;
		  padding: 40px;
		  background-color: rgb(177,255,109);
		  border: 10px rgb(114,178,58) solid;
		  }