body {
	font-family: 'Roboto Slab', serif;
	background: url("./Max_Williamson.png/");
	background-size: cover;
}

h1 {
	text-align: center;
}

#header {
	/*position: fixed;*/
}

#company {
	text-align: center;
}

#block1 {
	float: left;
	width: 350px;
	position: fixed;
	margin-left: 30px;
}

#block2 {
	float: right;
	width: 500px;
	margin-right: 30px;
}

.tweet-user {
}

.tweet-text {
	color: navy;}
